.latest-trends-section{
    padding: 35px 0 ;
    
    .latest-trends-title:after{
    content: '';
    height: 1px;
    width: 74px;
    background-color: $primary;
    display: block;
    margin-top: 22px;
    margin-bottom: 43px;
  }
  
    
    .latest-trends-text{
      padding: 22px 18px 57px !important;
       width: 90% ;
           margin: -90px auto 0;
           background-color: white;
    
      a{
        color: $gray-900;  
        
      p{
            font-style: italic;
            font-family: $bodoni;
            text-decoration: none;
        }
        h6{
            font-size: 1.6rem;
            line-height: 2.4rem;
            height: 4.8rem;
            font-weight: $font-weight-medium;
       
        }
    }
}
  }


@media(min-width:540px){
   .latest-trends-section{
    padding: 75px 0 56px;
 }
}
