$link-text: #1E1E1E;
$link-color: #1E1E1E;
$contact-text: $link-color;

.contact-section{
    
    padding: 50px 0 !important;
    
    .contact-title{
        font-size: 30px;
  letter-spacing: 5px;
  line-height: 45px;
  margin-top: 70px;
    }
    
    .form-control{
      
        background-color: rgba(#253D61, 0.02);
        border:none;
        height: 50px !important;
        line-height: 50px;
        padding: 0 10px;
    }
    
    textarea.form-control{
        height: 150px !important;
        resize: none;
    }
    
    .error-msg *{
        color:$danger;
        font-size: 1.3rem;
    }
    
    .contact-map{
        position: absolute;
    right: 0;
    top:184px;
    width: 40%;
    height: 60%;
    margin-bottom: 80px;
    }
    
    .info-section{
        padding: 63px 0;
        font-size: 2.4rem !important;
       
        .info-phone,
        .info-email{
            color: $contact-text;
            
       }
    }
}

@media(min-width:768px){
    .contact-section{
    padding: 110px 0 !important;
    }
}